
# intellij
.idea
*.iml

# pytest
.pytest_cache

# python
__pycache__
*.egg-info
dist

# this sets up the relevant envvars before running search.py
run.sh

# created by spotipy for credentials
.cache*