[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
twine = "*"
tospotify = {editable = true,path = "."}
flake8 = "*"
bandit = "*"
coverage = "*"
pytest-cov = "*"

[packages]
spotipy = "*"
m3u8 = "*"

[requires]
python_version = "3"
